.header {
    display: flex;
    background: #1F2937;
    height:40px; 
    color: #F9FAF8;
}

.header-logo{
    display: flex;
    font-size: 24px;
    font-style: bold;
    text-transform: uppercase;
    padding: 10px;
    align-items: center;
}

.header-link{
    display: flex;
    flex: 1;
    font-style: bold;
    text-transform: uppercase;
    justify-content: end;
    gap: 10px;
    align-items: center;
}

.header-link div{
    padding: 25px;
}

.footer{
    display: flex;
    color: red;
    justify-content: center;
    background: #1F2937;
    height: 40px;
}

.button{
    display: flex;
    flex: 0 1 auto;
    color: white;
    background: blue;
    font-style: bold;
    width: 75px;
    height: 20px;
    border-color: whitesmoke;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.hero{
    display: flex;
    height: 100px;
    background: #1F2937;
    padding-top: 20px;
    color: #F9FAF8;
    justify-content: space-between;
    margin: 0px;
    padding: 50px;
}

.hero-left{
    display: flex;
    flex-direction: column;
}

.hero-right{
    padding: 10px;
    background: #E5E7EB;
}

.hero-left-title{
    font-style: bold;
    font-size: 36px;
}

.hero-left-body{
    font: white;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.information-blocks{
    display: flex;
    justify-content: space-evenly;
    }

.block{
    display: flex;
    flex-wrap: wrap;
}
.information-header{
    display: flex;
    color: #1F2937;
    font-size: 36px;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}

.content-image{
    border: 3px;
    border-color: brown;
    width: 25px;
    height: 25px;
}
.quote{
    background: #E5E7EB;
    font: 36px ligt italic #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}

.banner-bottom{
    display: flex;
    height: 100px;
    justify-content: center;
}

