/* general purpose */

.margin-left{
    margin-left: 15%;
}
.margin-right{
    margin-right: 15%;
}
.bold{
    font-weight: bold;
}
.padding-left{
    padding-left: 15%;
}
.padding-right{
    padding-right: 15%;
}
*{
    margin: 0;
    font-family: Calibri;
}

a:link{
    color: #F9FAF8;
    text-decoration: none;
}
a:visited{
    color: #F9FAF8;
    text-decoration: none;
}


/* Header Section */

.header{
    display: flex;
    background: #1F2937;
    height:40px; 
    color: #F9FAF8;
    padding-top: 10px;
    padding-left: 15%;
}
.header-logo{
    display: flex;
    font-size: 36px;
    font-style: bold;
    text-transform: uppercase;
    align-items: center;
    padding-top: 10px;
}
.header-link{
    display: flex;
    flex: 1;
    font-style: bold;
    text-transform: uppercase;
    justify-content: end;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}
.header-link :hover{
    color: red;
}
.header-link div{
    padding: 25px;
}

/* Hero section */

.hero{
    display: flex;
    height: 100px;
    background: #1F2937;
    padding-top: 20px;
    color: #F9FAF8;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero-left{
    display: inline-flex;
    flex-direction: column;
}
.hero-left div{
    margin: 5px;
}
.hero-left-body{
    font: white;
}
.hero-left-title{
    font-style: bold;
    font-size: 36px;
}
.hero-right{
    display: flex;
    flex: 0 1 auto;
    padding: 10px;
    background: #E5E7EB;
    color: black;
    align-items: center;
}
.hero-button{
    display: inline-flex;
    flex: 0 1 auto;
    color: white;
    background: blue;
    font-style: bold;
    width: 75px;
    height: 20px;
    border-color: whitesmoke;
    border-width: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 2px;
}
.hero-button :hover{
    color: darkblue;
    font-weight: bold;
    background: lightblue;
}

/* Information Section */

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
.information-header{
    display: flex;
    color: #1F2937;
    font-size: 36px;
    justify-content: center;
    font-weight: bold;
    height: 50px;
    padding: 10px;
}
.information-blocks{
    display: flex;
    justify-content: space-between;
}
.content-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: green;
}
.block-image{
    display: flex;
    flex: auto;
    height: 100px;
    width: 100px;
}
.block-text{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    justify-content: center;
    color: #F9FAF8;
}
.block-text :hover{
    color: red;
}

/* Quote Section */

.quote{
    background: #E5E7EB;
    font: 36px ligt italic #1f2937;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.quote-main{
    font-size: 36px;
    font-style: italic;
}
.quote-speaker{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    margin-right: 50px;
}

/* Bottom Section */

.banner-bottom{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
}
.call-to-action-block{
    display: flex;
    background: blue;
    color: #F9FAF8;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.banner-column-left{
    display: flex;
    flex-direction: column;
    flex: auto; 
}
.banner_colum-right{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}
.bottom-button{
    display: flex;
    color:#E5E7EB;
    background: blue;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-color: #F9FAF8;
}

/* Footer section */

.footer{
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 40px;
}

/* Gig section */

.gig{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: grey;
    padding-left: 15%;
    padding-right: 15%;
}
.gig-info{
    display: flex;
    flex: auto;
    font-weight: bold;
    font-size: 20px;
}